@page "/Place/Create"
@using Blazored.FluentValidation
@using TravelBot.Api.Client.Client
@using TravelBot.Web.Validators
@inject ITravelBotApiClient TravelBotApiClient
@inject NavigationManager NavigationManager

<PageTitle>Создание места</PageTitle>

<h3>Создание места</h3>

<EditForm Model="item" OnValidSubmit="HandleSubmit">
	<FluentValidationValidator Validator="validator"></FluentValidationValidator>

	<div class="form-group">
		<label for="Name">Название:</label>
		<InputText id="Name" @bind-Value="item.Name" class="form-control"/>
		<ValidationMessage For="@(() => item.Name)"></ValidationMessage>
	</div>

	<div class="form-group">
		<label for="CategoryId">Категория:</label>
		<select id="CategoryId" class="form-control" @bind="item.CategoryId">
			<option value="">Выберите категорию</option>
			@foreach (var category in categories)
			{
				<option value="@category.Id">@category.Name</option>
			}
		</select>
		<ValidationMessage For="@(() => item.CategoryId)"></ValidationMessage>
	</div>

	<div class="form-group">
		<label for="Description">Описание:</label>
		<InputText id="Description" @bind-Value="item.Description" class="form-control"/>
		<ValidationMessage For="@(() => item.Description)"></ValidationMessage>
	</div>

	<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="item.ChildFriendly" id="ChildFriendly"/>
		<label class="form-check-label" for="ChildFriendly">Можно с детьми</label>
		<ValidationMessage For="@(() => item.ChildFriendly)"/>
	</div>

	<div class="form-group">
		<label for="Metro">Метро:</label>
		<InputText id="Metro" @bind-Value="item.Metro" class="form-control"/>
		<ValidationMessage For="@(() => item.Metro)"></ValidationMessage>
	</div>

	<div class="form-group">
		<label for="Address">Адрес:</label>
		<InputText id="Address" @bind-Value="item.Address" class="form-control"/>
		<ValidationMessage For="@(() => item.Address)"></ValidationMessage>
	</div>

	<div class="form-group">
		<label for="Link">Ссылка:</label>
		<InputText id="Link" @bind-Value="item.Link" class="form-control"/>
		<ValidationMessage For="@(() => item.Link)"></ValidationMessage>
	</div>

	<div class="d-flex justify-content-end mt-3">
		<button type="submit" class="btn btn-success">Создать</button>
		<button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">Отмена</button>
	</div>
</EditForm>

@code {
	private readonly PlaceCreateApiModel item = new();
	private readonly PlaceCreateApiModelValidator validator = new();
	private readonly CancellationTokenSource cancellationTokenSource = new();
	private List<CategoryApiModel> categories = [];

	protected override async Task OnInitializedAsync()
	{
		categories = (await TravelBotApiClient.CategoryGetAllAsync(cancellationTokenSource.Token))?.ToList()
		             ?? [];
	}

	private async Task HandleSubmit()
	{
		var result = await validator.ValidateAsync(item);

		if (result.IsValid)
		{
			await TravelBotApiClient.PlaceCreateAsync(item, cancellationTokenSource.Token);
			NavigationManager.NavigateTo("Place");
		}
	}

	private void Cancel()
	{
		NavigationManager.NavigateTo("Place");
	}

}