@page "/User/Create"
@using Blazored.FluentValidation
@using TravelBot.Api.Client.Client
@using TravelBot.Web.Validators
@inject ITravelBotApiClient TravelBotApiClient
@inject NavigationManager NavigationManager

<PageTitle>Создание пользователя</PageTitle>

<h3>Создание пользователя</h3>

<EditForm Model="item" OnValidSubmit="HandleSubmit">
	<FluentValidationValidator Validator="validator"></FluentValidationValidator>

	<div class="form-group">
		<label for="Name">Имя:</label>
		<InputText id="Name" @bind-Value="item.Name" class="form-control"/>
		<ValidationMessage For="@(() => item.Name)"/>
	</div>

	<div class="form-group">
		<label for="TelegramId">Телеграм ID:</label>
		<InputNumber id="TelegramId" @bind-Value="item.TelegramId" class="form-control"/>
		<ValidationMessage For="@(() => item.TelegramId)"/>
	</div>

	<div class="form-group">
		<label for="PassportId">Паспорт:</label>
		<select id="PassportId" class="form-control" @onchange="OnPassportChanged">
			<option value="">Выберите паспорт</option>
			@foreach (var passport in passports)
			{
				<option value="@passport.Id.ToString()" selected="@(passport.Id == item.PassportId)">
				</option>
			}
		</select>
		<ValidationMessage For="@(() => item.PassportId)"/>
	</div>

	<div class="d-flex justify-content-end mt-3">
		<button type="submit" class="btn btn-success">Создать</button>
		<button type="button" class="btn btn-secondary ms-2" @onclick="Cancel">Отмена</button>
	</div>
</EditForm>

@code {
	private readonly UserCreateApiModel item = new();
	private readonly UserCreateApiModelValidator validator = new();
	private readonly CancellationTokenSource cancellationTokenSource = new();
	private ICollection<PassportApiModel> passports = new List<PassportApiModel>();

	protected override async Task OnInitializedAsync()
	{
		passports = await TravelBotApiClient.PassportGetAllAsync(cancellationTokenSource.Token)
		            ?? new List<PassportApiModel>();
	}

	private async Task HandleSubmit()
	{
		var result = await validator.ValidateAsync(item, cancellationTokenSource.Token);

		if (result.IsValid)
		{
			await TravelBotApiClient.UserCreateAsync(item, cancellationTokenSource.Token);
			NavigationManager.NavigateTo("/User");
		}
	}

	private void Cancel()
	{
		NavigationManager.NavigateTo("/User");
	}

	private void OnPassportChanged(ChangeEventArgs e)
	{
		if (Guid.TryParse(e.Value?.ToString(), out var passportId))
			item.PassportId = passportId;
		else
			item.PassportId = Guid.Empty;
	}

}