@page "/Route"
@using TravelBot.Api.Client.Client
@using TravelBot.Common
@inject NavigationManager NavigationManager
@inject ITravelBotApiClient TravelBotClient
@inject IJSRuntime JsRuntime

<PageTitle>Главная. Маршруты</PageTitle>

<div>
	<button class="btn btn-primary" @onclick="AddRoute">
		<i class="fas fa-plus"></i> Добавить маршрут
	</button>
</div>
<hr/>

@if (items.Count == 0)
{
	<p><em>Нет маршрутов</em></p>
}
else
{
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Активный</th>
			<th>Почему стоит посетить</th>
			<th>Отправная точка</th>
			<th>Сезон</th>
			<th>Бюджет</th>
			<th>Среднее время (мин)</th>
			<th>Места в маршруте</th>
			<th>Действия</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in items)
		{
			<tr>
				<td>@(item.IsActive ? "да" : "нет")</td>
				<td>@(item.ReasonToVisit ?? "нет причины")</td>
				<td>@(item.StartPoint ?? "нет отправной точки")</td>
				<td>@(item.Season.GetDisplayName())</td>
				<td>@(item.Budget ?? "нет бюджета")</td>
				<td>@(item.AverageTime.ToString())</td>
				<td>
					@if (item.Places != null && item.Places.Any())
					{
						<ul class="list-unstyled mb-0">
							@foreach (var place in item.Places)
							{
								<li>
									<i class="bi bi-geo-alt-fill text-primary"></i> @place.Name
								</li>
							}
						</ul>
					}
					else
					{
						<span class="text-muted">Нет мест</span>
					}
				</td>
				<td>
					<select class="form-select" @onchange="@(e => HandleActionSelection(item.Id, e.Value?.ToString()))">
						<option value="">Выберите действие</option>
						<option value="Edit">Изменить</option>
						<option value="Delete">Удалить</option>
					</select>
				</td>
			</tr>
		}
		</tbody>
	</table>
}

@code {
	private readonly CancellationTokenSource cancellationTokenSource = new();
	private ICollection<RouteApiModel> items = new List<RouteApiModel>();

	private void AddRoute()
	{
		NavigationManager.NavigateTo("Route/Create");
	}

	private async Task HandleActionSelection(Guid id, string? action)
	{
		if (string.IsNullOrEmpty(action))
		{
			return;
		}

		switch (action)
		{
			case "Edit":
				NavigationManager.NavigateTo($"/Route/Edit/{id}");
				break;

			case "Delete":
				var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены, что хотите удалить этот маршрут?");
				if (confirmed)
				{
					await TravelBotClient.RouteDeleteAsync(id, cancellationTokenSource.Token);
					var item = items.FirstOrDefault(x => x.Id == id);

					if (item != null)
					{
						items.Remove(item);
						StateHasChanged();
					}
				}

				break;
		}
	}

	protected override async Task OnInitializedAsync()
	{
		try
		{
		items = await TravelBotClient.RouteGetAllAsync(cancellationTokenSource.Token)
		        ?? new List<RouteApiModel>();
		}
		catch (ApiException ex) when (ex.StatusCode == 401)
		{
			NavigationManager.NavigateTo("/login", true);
		}
	}
}